# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/
.venv.bak/

# VS Code settings (optional)
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test reports or logs
*.log
*.xml
reports/
logs/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Selenium screenshots or downloaded files
screenshots/
downloads/

# Pytest cache
.pytest_cache/
.cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
